@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
  font-size: clamp(14px, 1.45vw, 1.25em);
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
  background-color: var(--light);
}

:root {
  --black: #0e110e;
  --white: #f2f4f0;
  --primary: #145993;
  --secondary: #f9d157;
  --border: #e6e6e6;
  --font-l: 1.8rem;
  --font-m: 1.25rem;
  --font-s: 0.7rem;
  --font-ss: 0.55rem;
  --font-xs: 0.5rem;
  --radius: 1rem;
  --radius-sm: 0.65rem;
  --padding: 1rem;
  --transition: ease 0.3s;
  --cta-hover: brightness(115%);
}

@media all and (max-width: 720px) {
  :root {
    --font-l: 1.35rem;
  }
}



@media all and (max-width: 440px) {
  :root {
    --font-l: 1.15rem;
  }
}

@media all and (min-width: 1440px) {
  html {
    font-size: clamp(16px, 1.48vw, 1.28em);
  }
}

@media all and (max-width: 480px) {
  html {
    font-size: clamp(17px, 1.60vw, 1.35em);
  }
}

* {
  padding: 0;
  margin: 0;
  color: var(--black);
  box-sizing: border-box;
  font-size: var(--font-s);
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  transition: var(--transition);
}

h1 {
  font-size: var(--font-l);
  font-weight: 600;
  line-height: 130%;
  font-family: "Sora", sans-serif;
}

h1 span {
  font-size: var(--font-l);
  font-weight: 600;
  font-family: "Sora", sans-serif;
}

h2 {
  font-size: var(--font-m);
  font-weight: 600;
  line-height: 130%;
  font-family: "Sora", sans-serif;
}

h3 {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 150%;
  font-family: "Sora", sans-serif;
}
h4 {
  font-weight: 600;
  font-size: var(--font-s);
  line-height: 180%;
  font-family: "Sora", sans-serif;
}

p {
  line-height: 180%;
}

ul li {
  line-height: 180%;
}
a {
  text-decoration: none;
  /* font-weight: 300 !important; */
}

svg path {
  stroke-width: 1px;
  stroke: var(--black);
}
body {
  background-color: var(--white);
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media all and (min-width: 1440px) {
  body {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

* {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-moz-scrollbar {
  width: 0;
  height: 0;
}

*::-moz-scrollbar-thumb {
  background: transparent;
}

*::-moz-scrollbar-track {
  background: transparent;
}

*::-ms-scrollbar {
  width: 0;
  height: 0;
}

*::-ms-scrollbar-thumb {
  background: transparent;
}

*::-ms-scrollbar-track {
  background: transparent;
}

* scrollbar {
  width: 0;
  height: 0;
}

* scrollbar-thumb {
  background: transparent;
}

* scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}
*::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.cta,
.cta-2,
.cta-3 {
  display: flex;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: var(--white);
  border-radius: var(--radius-sm);
  transition: var(--transition);
  cursor: pointer;
  user-select: none;
  text-align: center;
  width: fit-content;
  font-weight: 600;
  user-select: none;
  outline: none;
  border: none;
  font-family: "Sora", sans-serif;
  background-color: var(--primary);
  font-size: var(--font-s);
  height: 2.5rem;
  gap: 0.25rem;
  line-height: normal;
}

.cta svg,
.cta-2 svg,
.cta-3 svg {
  height: 0.75rem;
  width: 0.75rem;
}

.cta-2 {
  background-color: var(--secondary);
  color: var(--black);
}

.cta-3 {
  background-color: var(--white);
  color: rgba(14, 17, 14, 0.85);
  outline: 1px solid var(--border);
}

.cta svg path {
  stroke: var(--secondary);
  stroke-width: 3px;
}
.cta-2 svg path {
  stroke: var(--primary);
  stroke-width: 3px;
}

.cta:hover,
.cta-2:hover,
.cta-3:hover {
  filter: var(--cta-hover);
}

.grassmorphic {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ffffff;
  border-radius: var(--radius);
}

.blob {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  position: absolute;
  background: #f9d157;
  opacity: 0.3;
  filter: blur(5rem);
  z-index: -1;
}

.gradient-text {
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(90deg, #f2f4f0 45.5%, #f9d157 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.page {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}

.banner {
  height: 14.5rem;
  overflow: hidden;
  border-radius: var(--radius);
}
.banner h1 {
  width: fit-content;
}

.banner img {
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}

.banner .breadcrumbs {
  color: var(--white);
  opacity: 0.85;
}

.banner .breadcrumbs a {
  font-size: 0.6rem;
  text-decoration-color: var(--secondary);
  text-transform: lowercase;
}

.banner .breadcrumbs a:hover {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--secondary);
  text-decoration-thickness: 1px;
}

.banner .breadcrumbs span {
  height: 0.15rem;
  width: 0.15rem;
  background-color: var(--secondary);
  border-radius: 50%;
}
